<div id="map-style">
    <div class="d-flex border">
        <div role="button" class="px-2" [ngClass]="currentMapStyle == 'open-streets-map' ? 'active-map-style' : ''" (click)="setMapStyle('open-streets-map')">OSM</div>
        <div role="button" class="px-2" [ngClass]="currentMapStyle == 'maplibre-default' ? 'active-map-style' : ''" (click)="setMapStyle('maplibre-default')">Maplib</div>
        <div role="button" class="px-2" [ngClass]="currentMapStyle == 'raster-tile' ? 'active-map-style' : ''" (click)="setMapStyle('raster-tile')">Raster</div>
    </div>
</div>