.draw-tool {
  cursor: pointer;
}

.active-tool {
  background: #0DCAF0 !important;
  color: #FFFFFF;
}

.draw-main {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
}

.draw-main button {
  background: #FFFFFF;
  height: 50px;
  /* width: 50px; */
}

/* This is for side toggle color customization */
/* .toggle-div::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue;
}

.toggle-div::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;
} */