.identity-feature {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 30%;
  height: 50%;
  background-color: aliceblue;
  border: 1px solid gray;
  border-left: none;
  transition: transform 0.5s;
}

.identity-feature-hide {
  transform: translateX(-100%);
}

.identity-feature-show {
  transform: translateX(0%);
}

header {
  height: 8%;
  background-color: #0FCAF0;
  position: relative;
  font-size: 15px;
  font-weight: bolder;
}

.cancle-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

main {
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #10CAF0 #EFF8FF;
}

::-webkit-scrollbar-thumb {
  background: #1e3770;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

label {
  width: 150px;
}