<div id="map">

    <app-identity-feature-side-nav [map]="map"></app-identity-feature-side-nav>

    <!-- We are now using mapbox geocoder because it's better -->
    <!-- But user can use this one also by using toggle in draw component -->
    <!-- <div *ngIf="showGeocoder"> -->
        <app-geocoder></app-geocoder>
    <!-- </div> -->

    <mat-progress-spinner *ngIf="showSpinner" class="spinner" color="warn" mode="indeterminate" diameter="50">
    </mat-progress-spinner>

    <app-data-table></app-data-table>

</div>