<div id="geocoder" [ngStyle]="showSearchDiv ? {'width' : '400px'} : {'width' : '30px'}">
    <div class="row m-0" *ngIf="showSearchDiv">
        <div class="row m-0 p-0">
            <input autocomplete="off" type="text" id="search-input" class="col-11" #searchValue
                (keydown.enter)="getGeocode(searchValue.value);lngLatForm.reset" placeholder="Search Address" />
            <button class="close-btn col-1" (click)="clearGeocode();searchValue.value=''">X</button>
        </div>
        <div class="row m-0 p-0">
            <form #lngLatForm="ngForm" (keydown.enter)="getLngLat(lngLatForm); searchValue.value=''" id="lngLatForm"
                class="m-0 p-0">
                <input type="number" autocomplete="off" name="lng" class="w-50" ngModel placeholder="Longitude" />
                <input type="number" autocomplete="off" name="lat" class="w-50" ngModel placeholder="Latitude" />
            </form>
        </div>

    </div>
    <div class="row" class="list-group" *ngIf="geocodeData">
        <button [matTooltip]="geo.properties.display_name" (click)="showDataInMap(geo)" type="button"
            class="list-group-item list-group-item-action search-list-item" *ngFor="let geo of geocodeData">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <span class="ms-2">{{geo.properties.display_name}}</span>
        </button>
    </div>
    <div class="row" class="reverse-geocode-data" *ngIf="reverseGeocodeData">
        <div>
            <span>Display Name : </span>
            <span>{{reverseGeocodeData.properties.display_name}}</span>
        </div>
        <div>
            <span>Country : </span>
            <span>{{reverseGeocodeData.properties.address.country}}</span>
        </div>
        <div>
            <span>Country Code : </span>
            <span>{{reverseGeocodeData.properties.address.country_code}}</span>
        </div>
        <div>
            <span>County : </span>
            <span>{{reverseGeocodeData.properties.address.county}}</span>
        </div>
        <div>
            <span>Region : </span>
            <span>{{reverseGeocodeData.properties.address.region}}</span>
        </div>
        <div>
            <span>State : </span>
            <span>{{reverseGeocodeData.properties.address.state}}</span>
        </div>
        <div>
            <span>District : </span>
            <span>{{reverseGeocodeData.properties.address.state_district}}</span>
        </div>
        <div>
            <span>Village : </span>
            <span>{{reverseGeocodeData.properties.address.village}}</span>
        </div>
        <div>
            <span>City : </span>
            <span>{{reverseGeocodeData.properties.address.city}}</span>
        </div>
        <div>
            <span>House Number : </span>
            <span>{{reverseGeocodeData.properties.address.house_number}}</span>
        </div>
        <div>
            <span>Postcode : </span>
            <span>{{reverseGeocodeData.properties.address.postcode}}</span>
        </div>
        <div>
            <span>Road : </span>
            <span>{{reverseGeocodeData.properties.address.road}}</span>
        </div>
    </div>
    <div matTooltip="Search Address" *ngIf="!showSearchDiv" class="search-icon p-flex rounded shadow"
        (click)="showSearchDiv=!showSearchDiv" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </div>
</div>